doctype html
html
  head
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css', integrity='sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4', crossorigin='anonymous')
    link(rel='stylesheet', href="/stylesheets/style2.css")
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js', integrity='sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js', integrity='sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm', crossorigin='anonymous')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js')
    title Invoice
  body
    .container
        .row
            .col-xs-12
                script
                    if household[0].billingCycle == "Monthly"
                        -var multiDiscount = (500 * .05);
                        -var genDate = "4/24/2018"
                        -var tuition = 500;
                        -var monthlyDiscount = 25;
                        if students.length > 1
                            -var multiDiscount = (500 * .05);
                        else
                            -var multiDiscount = 0;
                    else
                        -var genDate = "4/27/2018"
                        -var tuition = 125
                        -var monthlyDiscount = 0;
                        if students.length > 1
                            -var multiDiscount = (125 * .05);
                        else
                            -var multiDiscount = 0;
                    -var subTotalTuition = tuition - multiDiscount - monthlyDiscount;
                    -var aftercareMonthlyRate = 300;
                    -var grandTotal = 0;
                    -var randNum =Math.floor((Math.random() * (985 - 240) + 240)) ;
                .card.bill-card
                
                .card-header.bill-card-header
                    .row
                    table.table
                        tbody
                        tr
                        th(scope='col')
                            h3.nowrap Invoice
                        th(scope='col')
                        th(scope='col')
                        th(scope='col')
                        th(scope='col')
                            if household[0].billingCycle == "Monthly"
                                h4.float-right #{genDate}
                            else
                                h4.float-right #{genDate}
                        tr
                        th(scope='col')
                        th(scope='col')
                        th(scope='col')
                        th(scope='col')
                        th(scope='col')
                            h4.nowrap.float-right= `Invoice #: ${randNum}`
                        tr
                        
                .card-body.bill-card-body.inner-padding
                    .row
                        .col-xs-3
                            .row
                                .col-xs-12
                                    h5 Bill To:
                            .row
                                .col-xs-12
                                    h5 #{household[0].parentFirstName} #{household[0].parentLastName}
                            .row
                                .col-xs-12
                                    h6 #{household[0].streetAddress}
                            .row
                                .col-xs-12
                                    h6.nowrap #{household[0].city}, #{household[0].state} #{household[0].zip}
                            .row
                                .col-xs-12
                                    h6 #{household[0].phone}
                        .col-xs-6.w-50
                        .col-xs-3
                            .row
                                .col-xs-12
                                    h5 Pay To:
                            .row
                                .col-xs-12
                                    h5.nowrap Willowbrook Private School
                            .row
                                .col-xs-12
                                    h6 3500 S 1st St 
                            .row
                                .col-xs-12
                                    h6 Lufkin, TX 75904
                            .row
                                .col-xs-12
                                    h6 (555)-864-3234
                            .row
                                .col-xs-12
                                    h6 EIN: 12-3456789

                    .row
                        table.table.table-striped
                            tbody
                                each i in students
                                    -var aftercareTotal = (i.aftercareUnits * 3);
                                    if i.programID == "Aftercare Only"
                                        -subTotalTuition = 0;
                                    if i.aftercare == "Yes"
                                        -var studentTotal = aftercareMonthlyRate + subTotalTuition;
                                        -grandTotal += studentTotal;
                                    else
                                        -var studentTotal = aftercareTotal + subTotalTuition;
                                        -grandTotal += studentTotal;
                                    tr
                                    th(scope='col')
                                        h5.nowrap #{i.studentFirstName} #{i.studentLastName}
                                    if household[0].billingCycle == "Monthly"
                                        th(scope='col')
                                            .nowrap.nobold For the month of April 2018
                                    else
                                        th(scope='col')
                                            .nowrap.nobold For the 4th week of April 2018
                                    if i.programID !="Aftercare Only"
                                        tr
                                        td
                                        td Academic Tuition
                                        td= `$${tuition}`
                                        td
                                    else
                                        tr
                                        td
                                        td Academic Tuition
                                        td "$0 (Aftercare Only)"
                                        td
                                    if students.length > 1
                                        tr
                                        td
                                        td Multi-Student Discount 5%
                                        td= `-$${multiDiscount}`
                                    if household[0].billingCycle == "Monthly"
                                        tr
                                        td
                                        td Monthly Payment Discount 5%
                                        td= `-$${monthlyDiscount}`
                                    tr
                                    td
                                    td
                                    td.bold Tuition total
                                    td.bold= `$${subTotalTuition}`
                                    if i.aftercare == "Yes"
                                        tr
                                        td
                                        td Aftercare Fees
                                        td Monthly Rate
                                        td.bold $300
                                    else
                                        tr
                                        td
                                        td Drop-in Aftercare Fees for #{i.aftercareUnits} Units (15-minute)
                                        td.bold Aftercare total
                                        td.bold= `$${aftercareTotal}`
                                    tr
                                    td
                                    td
                                    td.bold.nowrap #{i.studentFirstName} #{i.studentLastName} Total:
                                    td 
                                        h5.bold.underline= `$${studentTotal}`
                                tr
                                td
                                td
                                td
                                    h5.bold.nowrap Grand Total:
                                td
                                    h4.bold.underline= `$${grandTotal}`
                                td
