extends layout
block content
    script
        if household[0].billingCycle == "Monthly"
            -var multiDiscount = (500 * .05);
            -var genDate = "4/24/2018"
            -var tuition = 500;
            -var monthlyDiscount = 25;
            if students.length > 1
                -var multiDiscount = (500 * .05);
            else
                -var multiDiscount = 0;
        else
            -var genDate = "4/27/2018"
            -var tuition = 125
            -var monthlyDiscount = 0;
            if students.length > 1
                -var multiDiscount = (125 * .05);
            else
                -var multiDiscount = 0;
        -var subTotalTuition = tuition - multiDiscount - monthlyDiscount;
        -var aftercareMonthlyRate = 300;
        -var grandTotal = 0;
        -var randNum =Math.floor((Math.random() * (985 - 240) + 240)) ;
    .card.bill-card
    
    .card-header.bill-card-header
        .row
            .col-5 
                h2 Invoice
            .col-6
                .row
                    .col
                        if household[0].billingCycle == "Monthly"
                            h5.float-right #{genDate}
                        else
                            h5.float-right #{genDate}
                .row
                    .col
                        h5.float-right= `Invoice #: ${randNum}`
    .card-body.bill-card-body.inner-padding
        .row
            .col-3
                .row
                    .col
                        h5 Bill To:
                .row
                    .col
                        h5 #{household[0].parentFirstName} #{household[0].parentLastName}
                .row
                    .col
                        h6 #{household[0].streetAddress}
                .row
                    .col
                        h6 #{household[0].city}, #{household[0].state} #{household[0].zip}
                .row
                    .col
                        h6 #{household[0].phone}
            .col-4
            .col
                .row
                    .col
                        h5 Pay To:
                .row
                    .col
                        h5.nowrap Willowbrook Private School
                .row
                    .col
                        h6 3500 S 1st St 
                .row
                    .col
                        h6 Lufkin, TX 75904
                .row
                    .col
                        h6 (555)-864-3234
                .row
                    .col
                        h6 EIN: 12-3456789

        .row
            table.table.table-striped
                tbody
                    each i in students
                        -var aftercareTotal = (i.aftercareUnits * 3);
                        if i.programID == "Aftercare Only"
                            -subTotalTuition = 0;
                        if i.aftercare == "Yes"
                            -var studentTotal = aftercareMonthlyRate + subTotalTuition;
                            -grandTotal += studentTotal;
                        else
                            -var studentTotal = aftercareTotal + subTotalTuition;
                            -grandTotal += studentTotal;
                        tr
                        th(scope='col')
                            h5.nowrap #{i.studentFirstName} #{i.studentLastName}
                        if household[0].billingCycle == "Monthly"
                            th(scope='col')
                                .nowrap For the month of April 2018
                        else
                            th(scope='col')
                                .nowrap For the 4th week of April 2018
                        if i.programID !="Aftercare Only"
                            tr
                            td
                            td Academic Tuition
                            td= `$${tuition}`
                            td
                        else
                            tr
                            td
                            td Academic Tuition
                            td "$0 (Aftercare Only)"
                            td
                        if students.length > 1
                            tr
                            td
                            td Multi-Student Discount 5%
                            td= `-$${multiDiscount}`
                        if household[0].billingCycle == "Monthly"
                            tr
                            td
                            td Monthly Payment Discount 5%
                            td= `-$${monthlyDiscount}`
                        tr
                        td
                        td
                        td.bold Tuition total
                        td.bold= `$${subTotalTuition}`
                        if i.aftercare == "Yes"
                            tr
                            td
                            td Aftercare Fees
                            td Monthly Rate
                            td.bold $300
                        else
                            tr
                            td
                            td Drop-in Aftercare Fees for #{i.aftercareUnits} Units (15-minute)
                            td.bold Aftercare total
                            td.bold= `$${aftercareTotal}`
                        tr
                        td
                        td
                        td.bold.nowrap #{i.studentFirstName} #{i.studentLastName} Total:
                        td 
                            h5.bold.underline= `$${studentTotal}`
                    tr
                    td
                        a.btn.btn-primary(href=`/billdetails/${household[0].householdID}/billprintable`) Printer-friendly Invoice
                    td
                    td
                        h5.bold.nowrap Grand Total:
                    td
                        h4.bold.underline= `$${grandTotal}`
                    td

