extends layout
block content
        .row
            .col
                .row
                    .card.w-80
                        h5.card-header.text-center= title
                        .card-body
                                table.table.table-striped
                                    tbody
                                        tr
                                        th(scope='row') Parent Name:
                                        td #{household.parentFirstName} #{household.parentLastName}
                                        tr
                                        th(scope='row') Household ID:
                                        td #{household.householdID}
                                        tr
                                        th(scope='row') Address:
                                        td #{household.streetAddress}, #{household.city}, #{household.state}, #{household.zip}
                                        tr
                                        th(scope='row') Phone:
                                        td #{household.phone}
                                        tr
                                        th(scope='row') Alternate Phone:
                                        td #{household.altphone}
                                        tr
                                        th(scope='row') Billing Cycle:
                                        td #{household.billingCycle}
                                        tr
                                        th(scope='row')
                                        td
                                            a.btn.btn-info.btn-sm(href=`/household/${household.householdID}/addstudent`) Add Student to this Household
                                        tr
                                        th(scope='row')
                                        td
                                            a.btn.btn-info.btn-sm(href=`/household/${household.householdID}/itemizedaftercare`) View Itemized Aftercare Report                                                                                 
            .col
                    .row
                        .card.card-wrapper
                            h5.card-header.text-center Students in Household
                            .card-body.table-wrapper
                                    table.table.table-striped
                                        thead
                                            tr
                                            th(scope='col') Student Name
                                            th(scope='col') 
                                        tbody
                                            if students
                                                each i in students
                                                    tr
                                                    td= i.studentFirstName + " " + i.studentLastName
                                                    td
                                                        a.btn.btn-info.btn-sm(href=`/student/${i.studentID}`) View Student
                            
                            
                            
                            

                    .row
                        .card.card-wrapper
                            h5.card-header.text-center Bills
                            .card-body.table-wrapper
                                    table.table.table-striped
                                        thead
                                            tr
                                            th(scope='col') Due
                                        tbody
                                            tr
                                            if household.billingCycle == "Monthly"
                                                td= '5/1/2018'
                                            else
                                                td= '4/30/2018'
                                            td 
                                            td
                                                a.btn.btn-info.btn-sm(href=`/billdetails/${household.householdID}`) View Bill
                                            //if bills
                                                each b in bills
                                                    tr
                                                    td= b.dueDate
                                                    td= b.amount
                                                    td= b.discount
                                                    td
                                                        a.btn.btn-info.btn-sm(href='/bill/${b.billID}') View Bill      

