extends layout
block content
    .card
        h4.card-header.text-center
        .card-body
            .row
                .col-md-6
                    h5.card-header.text-center= title
                    .card-body
                      table.table.table-striped
                        tbody
                            tr
                            th(scope='row') Parent Name:
                            td #{household.parentFirstName} #{household.parentLastName}
                            tr
                            th(scope='row') Household ID:
                            td #{household.householdID}
                            tr
                            th(scope='row') Address:
                            td #{household.streetAddress}, #{household.city}, #{household.state}, #{household.zip}
                            tr
                            th(scope='row') Phone:
                            td #{household.phone}
                            tr
                            th(scope='row') Alternate Phone:
                            td #{household.altphone}
                            tr
                            th(scope='row') Billing Cycle:
                            td #{household.billingCycle}                          
                .col-md-6
                    .row
                        .card.border-secondary.mb-3
                            h5.card-header.text-center Bills
                            .card-body
                                .table-wrapper
                                    table.table.table-striped
                                        thead
                                            tr
                                            th(scope='col') Due
                                            th(scope='col') Amount
                                            th(scope='col') Paid
                                        tbody
                                            if bills
                                                each b in bills
                                                    tr
                                                    td= b.dueDate
                                                    td= b.amount
                                                    td= b.discount
                                                    td
                                                        a.btn.btn-info.btn-sm(href=`/household/bill/${b.billID}`) View Bill  

                    .row
                        .card.border-secondary.mb-3
                            h5.card-header.text-center Students in Household
                            .card-body
                                .table-wrapper
                                    table.table.table-striped
                                        thead
                                            tr
                                            th(scope='col') Student Name
                                            th(scope='col') 
                                        tbody
                                            if students
                                                each i in students
                                                    tr
                                                    td= i.studentFirstName + " " + i.studentLastName
                                                    td
                                                        a.btn.btn-info.btn-sm(href=`/student/${i.studentID}`) View Student

