extends layout
block content
    .card
        h4.card-header.text-center
        .card-body
            .row
                .col-md-6
                    h5.card-header.text-center= title
                    .card-body
                      table.table.table-striped
                        tbody
                            tr
                            th(scope='row') Student Name:
                            td #{student.studentFirstName}
                            td #{student.studentLastName}
                            tr
                            th(scope='row') Student ID:
                            td #{student.studentID}
                            td
                            tr
                            th(scope='row') Household ID:
                            td #{student.householdID}
                            td
                                form(action=`/household/${student.householdID}`, method='GET')
                                    button#submit.btn.btn-info.btn-sm(type='submit',) View Household
                            tr
                            th(scope='row') Aftercare:
                            td #{student.aftercare}
                            td
                            tr
                            th(scope='row') Program:
                            td #{student.programID}
                            td                  
                .col-md-6
                    .row
                        .card.border-secondary.mb-3
                            h5.card-header.text-center Absences
                            .card-body
                                .table-wrapper
                                    table.table.table-striped
                                        thead
                                            tr
                                            th(scope='col') Date
                                            th(scope='col') Type
                                        tbody
                                            tr
                                            td 1/19/2018
                                            td Excused
                                            tr
                                            td 1/05/2018
                                            td Unexcused
                                            tr
                                            td 12/22/2017
                                            td Excused
                                            tr
                                            td 1/19/2018
                                            td Excused
                                            tr
                                            td 1/05/2018
                                            td Unexcused
                                            tr
                                            td 12/22/2017
                                            td Excused
                                            tr
                                            td 1/19/2018
                                            td Excused
                                            tr
                                            td 1/05/2018
                                            td Unexcused
                                            tr
                                            td 12/22/2017
                                            td Excused
                                            tr
                                            td 1/19/2018
                                            td Excused
                    .row
                        .card.border-secondary.mb-3
                            h5.card-header.text-center Aftercare Info
                            .card-body
                                .table-wrapper
                                    table.table.table-striped
                                        thead
                                            tr
                                            th(scope='col') Date
                                            th(scope='col') Time Blocks (15 minute)
                                        tbody
                                            tr
                                            td 1/14/2018
                                            td 4
                                            tr
                                            td 1/18/2018
                                            td 5
                                            tr
                                            td 2/24/2018
                                            td 3
                                            tr
                                            td 1/09/2018
                                            td 6
                                            tr
                                            td 1/01/2018
                                            td 3
